#spell-base, #item-base {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

#add-custom-spell, #add-custom-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #EAD5CC;
    border: solid 2px #0C0907;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    align-items: center;
}

#add-custom-spell > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 695px;
    gap: 5px;
}

#add-custom-item > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 465px;
    gap: 5px;
}

#add-custom-spell > textarea,
#add-custom-item > textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border-radius: 10px;
    background-color: #0C0907;
    padding: 5px 10px;
    color: #EAD5CC;
    border-style: none;
}

.spell-desc, .item-desc {
    display: flex;
    font-size: 15px;
    text-align: justify;
}

.spell-info, .item-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.spell-faqs {
    max-height: 700px !important;
    width: 100% !important;
}

.spell-master-faqs {
    max-height: 400px !important;
    width: 100%;
    padding: 0;
}

.showAdd-spell,.add-to-list {
    float: right;
}

#spell-list, #item-list {
    width: 80%;
    line-height: 1.5;
}

.modal.spell, .modal.item {
    max-height: 800px;
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
}

.modal.spell > div > input,
#add-custom-spell > section > input,
.modal.item > div > input,
#add-custom-item > section > input {
    font-size: 15px;
}

.tab-content {
    display: none;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
    display: none !important;
}

.tab-content>div {
    margin: 0 5px 0;
}

div[data-tab="overview"] {
    justify-content: space-between;
}

.skill-label {
    float: left;
}

.skill-level {
    float: right;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
}

.skill {
    width: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #E0C6BB;
    color: #0C0907;
    border-color: #2D1001;
    background-image: url("BackgroundImage.png");
    background-blend-mode: multiply;
    background-size: 950px;
    background-position: center 150px;
    background-repeat: no-repeat;
}

#sheet form {
    width: 75%;
    background-color: rgba(234, 213, 204, 0.8);
    margin: auto;
    padding: 50px;
    border-radius: 20px;
}

#index,
#login {
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
    background-color: rgba(234, 213, 204, 0.8);
    border-radius: 20px;
    margin-top: 250px;
}

#index button,
#index select,
.modal button,
.modal input,
#login button {
    background-color: #0C0907;
    color: #E0C6BB;
    border-style: solid;
    border-radius: 10px;
    border-color: #0C0907;
    padding: 10px 20px;
    font-size: 25px;
    accent-color: #EAD5CC;
}

#index button:hover,
#index select:hover,
.modal button:hover,
#login button:hover {
    background-color: #E0C6BB;
    color: #0C0907;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #2D1001;
}

#login input {
    background-color: #E0C6BB;
    color: #0C0907;
    border-style: solid;
    border-radius: 10px;
    border-color: #0C0907;
    padding: 10px 20px;
    font-size: 25px;
    accent-color: #EAD5CC;
    margin-bottom: 20px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.tab {
    background-color: #e7c6b8;
    list-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.tab:hover {
    cursor: pointer;
    background-color: #EAD5CC;
}

.tab.active {
    background-color: #0C0907;
    color: #E0C6BB;
}

.tab-content.active {
    display: flex;
}

.modal {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    background-color: #E0C6BB;
}

#base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}

#base .form-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 33%;
    margin-bottom: 7px;
}

#base .form-control label {
    margin-right: 5px;
    width: 30%;
    float: left;
}

#base .form-control input {
    width: 50%;
    float: right;
}

header h1 {
    margin: 40px 50px 50px;
}

label {
    font-weight: 600;
}

label[for="Cname"] {
    margin-left: 5%;
    display: inline-block;
    margin-bottom: 10px;
}

input[name="Cname"] {
    width: 14.8%;
}

.saving-throw {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.saving-throw label {
    font-weight: 100;
    font-size: 13px;
}

#attributes {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    height: 420px;
    align-items: center;
}

#attributes>.attribute {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attributes input[type="number"],
.speedinput {
    width: 30px;
    height: 30px;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 20px;
}

.attribLabel {
    font-size: 20px;
}

#attributes p {
    margin: 2px 0px 5px;
}

#combat-things {
    width: 25%;
}

#combat-things,
#hp-stuff,
#saves {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hp-stuff span {
    font-size: 20px;
    font-weight: 600;
}

#combat-things input[type="number"] {
    margin: 5px;
    width: 30px;
    height: 30px;
    -moz-appearance: textfield;
    text-align: center;
    font-size: 20px;
}

label {
    font-size: 15px;
}

hr {
    width: 100%;
    color: #2D1001;
}

.saves-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#saves label {
    font-weight: 100;
    font-size: 20px;
}

input[name="temp"] {
    color: #973f16;
}

#ac-other {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#ac-other div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.faq-content {
    display: none;
}

.faq-content.active {
    display: flex;
    background-color: #EAD5CC;
    padding: 5px 8px;
    margin: 0;
    border-radius: 0 0 5px 5px;
    border-width: 2px;
    border-color: #0C0907;
    border-style: solid;
    font-size: 12px;
}

.faq {
    list-style: none;
}

.faq-title,
.prof-content {
    background-color: #e7c6b8;
    padding: 3px 8px;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: 15px;
    margin-top: 3px;
    letter-spacing: 2px;
}

.faq-title:hover {
    cursor: pointer;
    background-color: #EAD5CC;
}

.faq-title.active {
    background-color: #0C0907;
    color: #E0C6BB;
    border-radius: 5px 5px 0 0;
}

.faqs,
.profsList {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-gutter: stable;
}

.faqs button,
.showAdd {
    float: right;
    color: #EAD5CC;
    background-color: #0C0907;
    border-style: solid;
    border-color: #0C0907;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
}

.faqs button:hover,
.showAdd:hover {
    color: #0C0907;
    background-color: #EAD5CC;
    cursor: pointer;
}

#features {
    width: 25%;
}

.faq-inner-title {
    align-items: center;
    margin-top: 10px;
}

button.addFeat {
    width: 100% !important;
    font-weight: 600;
}

.addFeat {
    width: 96%;
}

.prof-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}

.prof-content {
    background-color: #EAD5CC;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    width: fit-content;
}

.remove, .remove-spell {
    float: right;
}

.remove:hover, .remove-spell:hover {
    cursor: pointer;
}

#speed {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

#speed div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#features>label {
    font-size: 20px;
}

.image {
    width: 200px;
    height: 200px;
    background-image: url("blankPicture.png");
    background-size: contain;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #0C0907;
    margin-bottom: 10px;
}

.image>img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.image:hover {
    cursor: pointer;
}

.bioPart {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.bioPart>label {
    font-size: 20px;
    margin-bottom: 10px;
}

#apperance-inputfields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
}

#apperance-inputfields>div {
    width: 250px;
}

#apperance-inputfields>div>label {
    float: left;
}

#apperance-inputfields>div>input {
    float: right;
}

.loose>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 10px;
}

.loose textarea {
    height: 90%;
}