<div id="item-base">
    {% for monies in sheet.inventory.money %}
    <label>{{monies}}</label>
    <input type="text" name={{monies}} value={{sheet.inventory.money[monies]}}>
    <hr>
    {% endfor %}
</div>

<div id="item-list">
    <input type="text" name="delete-items-title" class="hidden">
    <input type="text" name="delete-items-destination" class="hidden">

    <input type="text" name="add-to-item-list-level" class="hidden">
    <input type="text" name="add-to-item-list-name" class="hidden">

    <div class="modal item hidden">
        <button type="button" class="make-item">make custom</button>
        <div id="add-custom-item" class="hidden">
            <section>
                <input type="text" name="item-name-custom" placeholder="name" class="submit-not">
                <input type="text" name="item-detail-custom" placeholder="detail" class="submit-not">
                <input type="text" name="item-weight-custom" placeholder="weight" class="submit-not">
                <input type="text" name="item-value-custom" placeholder="value" class="submit-not">
            </section>
            <textarea name="item-text-custom" class="submit-not" placeholder="text"></textarea>
            <div style="display: flex; justify-content: space-between; gap: 5px;">
                <button type="button" class="add-to-only-master">add to master list</button>
                <button>add to master list and own item list</button>
                <button type="button" class="make-item">cancel</button>
            </div>
            <span>This action will close the modal</span>
            <input type="text" name="add-to-only-master" class="hidden">
        </div>
        <div>
            <input type="text" id="filter-by-name-item" class="submit-not" placeholder="enter name of item">
        </div>
        <button type="button" id="apply-filter-item">search</button>

        <ul class="faqs spell-master-faqs">
            <li class="faq listItem">
                {% for item in itemsMaster %}
                <div class="item-in-master-list">
                    <div class="faq-inner-title"><label>{{slot}}</label>
                    </div>
                    <div name={{slot}}>
                        <p class="faq-title name" data-name="{{item.name}}">{{item.name}}<span
                            class="add-to-list-items">&#10010;</span></p>
                        <div class="faq-content item-desc">
                            <div class="item-info">
                                {% for attrib in item%}
                                {% if attrib is ne("text") %}
                                <div>
                                    <label>{{attrib}}</label>
                                    <span>{{item[attrib]}}</span>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <span class="item-desc" style = "white-space: pre-wrap;">{{item.text}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </li>
        </ul>


    </div>

    <ul class="faqs spell-faqs">
        {% for slot in sheet.inventory.equipment %}
        <li class="faq listItem">
            <div class="faq-inner-title"><label>{{slot}}</label>
                <button type="button" id={{slot}} class="showAdd-item">&#10010;</button>
            </div>
            {% for item in sheet.inventory.equipment[slot] %}
            <div name={{slot}}>
                <p class="faq-title" data-name="{{item.name}}">{{item.name}}
                    <input type="number" name = "{{item.name}}-amount" value={{item.amount}}>
                    <span class="remove items">&times;</span>
                </p>
                <div class="faq-content item-desc">
                    <div class="item-info">
                        {% for attrib in item%}
                        {% if attrib is ne("text") %}
                        {% if attrib is ne("amount")%}
                        <div>
                            <label>{{attrib}}</label>
                            <span>{{item[attrib]}}</span>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <span class="item-desc" style = "white-space: pre-wrap;">{{item.text}}</span>
                </div>
            </div>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>