{% extends "parts/base.html" %}

{% block content %}
<header>
    <h1><a href="/index">DnD 5e Character Sheet Manager</a></h1>
</header>

<body id="sheet">
    <form id="sheet-form" method="post" enctype="multipart/form-data">
        <input type="text" name = "current-tab" class = "hidden" value="{{active_tab if active_tab else 'overview'}}" >
        <label for="Cname">Character name:</label>
        <input type="text" value="{{sheet.Cname}}" name="Cname">

        <div id="base">
            <div class="form-control">
                <label for="class">Class:</label>
                <input type="text" value="{{sheet.base.class}}" name="class">
            </div>

            <div class="form-control">
                <label for="level">Level:</label>
                <input type="text" value="{{sheet.base.level}}" name="level">
            </div>

            <div class="form-control">
                <label for="background">Background:</label>
                <input type="text" value="{{sheet.base.background}}" name="background">
            </div>

            <div class="form-control">
                <label for="race">Race:</label>
                <input type="text" value="{{sheet.base.race}}" name="race">
            </div>

            <div class="form-control">
                <label for="Pname">Player name:</label>
                <input type="text" value="{{sheet.base.Pname}}" name="Pname">
            </div>

            <div class="form-control">
                <label for="alingment">Alignment:</label>
                <input type="text" value="{{sheet.base.alingment}}" name="alingment">
            </div>
        </div>
        <ul class="tab-container">
            <li class="tab overview">
                Overview
            </li>
            <li class="tab spells">
                Spells
            </li>
            <li class="tab inventory">
                Inventory
            </li>
            <li class="tab biography">
                Biography
            </li>
        </ul>
        <div class="tab-content" data-tab="overview">
            {% include "parts/overview.html" %}
        </div>
        <div class="tab-content" data-tab="spells">
            {% include "parts/spells.html" %}
        </div>
        <div class="tab-content" data-tab="inventory">
            {% include "parts/inventory.html" %}
        </div>
        <div class="tab-content" data-tab="biography">
            {% include "parts/biography.html" %}
        </div>
    </form>
</body>
<footer>
    Made by: Thea Johansen
</footer>
<script src="/sheet.js"></script>
{% endblock %}